{% extends "base.html" %}
{% block a %}{% endblock %}
{% block content %}
<div class="content">
    <h1>Список книг</h1>
    <div class="row">
        <div class="twelve">
            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    {% if not user.is_authenticated or perms.catalog.view_book %}
                       {% if book_list %}

                               {% for book in book_list %}
                               <img class="card-img-top" src="..." alt="Card image cap">  <!-- для картинки -->
                               <li><h5 class="card-title">{{ book.title }}</h5> ({{book.author}})</li>
                               <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                               {% endfor %}

                    {% else %}
                    <p>Книг нет в наличии.</p>
                    {% endif %}
                </div>
            </div>
                {% block pagination %}
                    {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}
                {% endblock %}
            {% else %}
            <p>У вас нет доступа для просмотра этой страницы. Пожалуйста авторизуйтесь.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название карточки</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
  </div>
</div>